*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App{
  text-align: center;
  background: #F5F5F5;
}

.active{
  color: white;
  font-weight: 400;
  padding: 17px 25px;
  font-size: 20px;
  background: white;
  color: #003060;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .5s ease-in-out;
}

.item{
  color: white;
  font-size: 20px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .5s ease-in-out;
}

.page1{
  background-image: url(../src/assets/Page1/page1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cards{
  background: url(../src/assets/Page1/background.png);
  width: 100%;
  background-repeat: no-repeat;
  background-position: start;
  background-size: cover;
}